@import '../style/variables.scss';

.component {
    padding: 50px;

    .container {
        width: $c-width;
        margin: 0 auto;
        
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .review {
            display: flex;
            align-items: center;
            justify-content: center;

            .right-side {
                margin-left: 30px;
            }
        }

        .sponsor-container {
            display: flex;
            justify-content: center;

            .sponsor {
                width: calc(100% / 6);
                height: 100px;
                background-image: url('../assets/client-logo-colored-01.png');
                background-size: contain;
                background-repeat: no-repeat;
                margin: 10px 10px;
            }
        }
    }
}