@import '../style/variables.scss';

.container {
    padding: 50px 0;
    background-image: url('../assets/background-pattern-grid-line.png');

    .left-side {
        height: 800px;
        flex-direction: column;

        .first-column {
            margin-right: 25px;
        }

        .second-column {
            margin-top: 50px;
        }

        .text-block {
            width: 270px;
            height: 350px;
            padding: 20px;
            margin-bottom: 25px;
            box-shadow: 0 0 10px #ddd;
            background-color: $white;

            h2 {
                color: #3f3a64;
                font-weight: bold;
                font-size: 18px;
            }

            p {
                margin-top: 10px;
                color: $grey-two;
                line-height: 24px;
                font-size: 18px;
            }
        }
    }

    .right-side {
        align-self: center;
        margin-right: 100px;

        p {
            color: $grey-two;
            font-size: 15px;
        }

        h2 {
            font-size: 40px;
            margin: 20px 0 30px;
            span {
                color: $green;
            }
        }

        ul {
            list-style: none;
            
            li {
                color: #666;
                margin: 20px 0;

                i {
                    color: $green;
                    margin-right: 10px;
                }
            }
        }

        .button {
            background-color: $green;
            color: $white;
            padding: 15px 40px;
            font-weight: bold;
            border-radius: 5px;
            margin-top: 30px;

            &:hover {
                background-color: #1f2154;
            }
        }
    }
}