@import '../style/variables.scss';
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

.component {
    background-color: #f5f7fa;
    padding: 50px 0;

    .container {
        width: $c-width;
        margin: 0 auto;

        .text {
            text-align: center;
            margin-bottom: 50px;

            p {
                font-size: 12px;
                color: #888;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 40px;
                font-weight: lighter;

                span {
                    color: $green;
                }
            }
        }

        .course-container {
            display: flex;
            flex-wrap: wrap;

            .course {
                width: 50%;
                height: 150px;
                padding: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;

                &:hover {
                    background-color: #fff;
                    box-shadow: 0 0 2px #ddd;
                }

                .image {
                    height: 100%;
                    width: 130px;
                    border-radius: 50%;
                    background-size: cover;
                    margin-right: 20px;
                }

                .right-side {
                    p {
                        margin-bottom: 15px;
                        font-weight: bold;
                        color: #3f3a64;

                        &:first-child {
                            font-size: 24px;
                            color: $green;
                        }
                    }

                    span, i {
                        color: #888;
                        margin-right: 10px;
                        font-size: 15px;
                    }

                    span {
                        margin-right: 20px;
                    }
                }
            }
        }

        .button-text {
            text-align: center;

            .button {
                margin: 30px 0;
                padding: 15px 50px;
                background-color: $green;
                color: #fff;
                display: inline-block;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: #1f2154;
                }
            }
        }
    }
}