@import '../style/variables.scss';

.container {
    // final raccomandation decoration
    padding: 50px;

    p {
        font-size: 24px;
    
        span {
            color: $green;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .button {
        background-color: $green;
        color: #fff;
        padding: 15px 40px;
        margin-top: 30px;
        border-radius: 5px;
        font-weight: bold;

        &:hover {
            background-color: $hover-color-violet;
        }
    }

    // colored balls decoration
    .ball-container-two {
        height: 600px;
        top: 450%;
    
        .ball-one {
            width: 30px;
            height: 30px;
            top: 40%;
            left: 60px;
            border: 5px solid $green;
        }
    
        .ball-two {
            width: 25px;
            height: 25px;
            bottom: -70px;
            left: -300px;
            background-color: $vivid-red;
        }
    
        .ball-three {
            width: 40px;
            height: 40px;
            bottom: -300px;
            left: -250px;
            background-color: $mustard-yellow;
        }
    
        .ball-four {
            width: 30px;
            height: 30px;
            right: 0;
            top: 50%;
            background-color: $green;
        }
    
        .ball-five {
            width: 25px;
            height: 25px;
            right: 100px;
            bottom: -150px;
            background-color: $less-red;
        }
    
        .ball-six {
            width: 25px;
            height: 25px;
            right: -200px;
            bottom: -300px;
            background-color: $less-violet;
        }
    }
}