@import '../style/variables.scss';
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

footer {
    background-color: $grey-one;
    padding: 50px;

    .links-container {
        
        // common style ----------------
        ul {
            list-style: none;
        }

        li {
            margin-top: 15px;
        }

        // all section decoration
        .section {
            ul {
                li {
                    color: $grey-two;
                    font-size: 15px;
                }

                a {
                    text-decoration: none;
                    color: $grey-two;
                    
                    i {
                        margin-top: 20px;
                        margin-right: 30px;
                        font-size: 24px;
                    }
                }
            }
        }

        // right part of the links ----------------------
        .right-side {
            >ul {
                // explore links div sizing
                .explore {
                    li {
                        width: 50%;
                    }
                }

                a {
                    text-decoration: none;
                    color: $grey-two;
                }
            }
        }
    }

    // copyright styling ----------------------
    p {
        color: $grey-two;
        margin-top: 50px;
        font-size: 13px;
    }

    // arrow styling ---------------------
    .freccia {
        right: 20px;
        bottom: 20px;
        padding: 10px 15px;
        transform: translate(-50% -50%);
        background-color: $green;
        
        a {
            text-decoration: none;
            color: $white;
            font-size: 24px;
        }
    }
}
