@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import '../style/variables.scss';

nav {
    height: 80px;
    padding: 15px 0;

    img {
        height: 50%;
    }

    .right-side {
        height: 100%;
        font-size: 15px;

        ul {
            list-style: none;

            li {
                color: $white;
                margin-left: 10px;
            }
        }

        i {
            color: $white;
            margin-right: 20px;
        }

        .input {
            height: 70%;
            padding: 0 5px;
            background-color: $white;
            border-radius: 5px;

            input {
                border: none;
            }

            i {
                color: $green;
            }
        }

        .fa-shopping-cart {
            .cart-items {
                top: -5px;
                right: -10px;
                padding: 2px 4px;
                font-size: 10px;
                font-weight: bold;
                color: $black;
                background-color: $white;
            }
        }
    }
}