@import '../style/variables.scss';

.component {
    background-color: #f5f7fa;
    padding: 50px 0;

    .container {
        width: $c-width;
        margin: 0 auto;

        .text {
            text-align: center;
            margin-bottom: 50px;
        }

        .course-container {
            display: flex;
            flex-wrap: wrap;

            .course {
                width: 50%;
                height: 150px;
                padding: 10px;
                display: flex;
                align-items: center;

                .image {
                    height: 100%;
                    width: 130px;
                    border-radius: 50%;
                    background-image: url('../assets/course-02-480x298.jpg');
                    background-size: cover;
                    margin-right: 20px;
                }
            }
        }

        .button {
            text-align: center;
            margin-top: 30px;
        }
    }
}