@import '../style/variables.scss';

.component {
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    padding: 50px;

    .container {
        width: $c-width;
        margin: 0 auto;

        .text {
            text-align: center;
            margin-bottom: 20px;
        }

        .help-container {
            display: flex;
            justify-content: space-between;

            .help {
                width: calc((100% - 80px) / 4);
                margin: 10px 0;
            }
        }

        img {
            width: 100%;
            margin-top: 50px;
        }
    }
}