$c-width: 1200px;
$green: #1fad96;
$grey-one: #f8f8f8;
$white: #fff;
$black: #000;
$grey-two: #888;
$purple: #1f2154;

// ball's color
$vivid-red: #cc1b17;
$mustard-yellow: #febc4d;
$pure-violet: #7355e7;
$less-red: #e25a6d;
$less-violet: #866deb;